@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
/* loader */
@keyframes load {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

html {
  font-family: Roboto, sans-serif;
}

body {
  margin: auto;
}

h1 {
  font-family: Shrikhand, sans-serif;
  font-size: 1.8rem;
}

h2 {
  font-family: Shrikhand, sans-serif;
  font-size: 1.8rem;
}

h3 {
  font-size: 1.1rem;
}

h4 {
  font-weight: bold;
  font-size: 1rem;
}

p {
  font-size: 0.95rem;
  text-overflow: "...";
}

.dish-button {
  background: white;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  height: 70px;
  border: none;
  box-shadow: 5px 5px 10px 1px lightgray;
  line-height: 25px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dish-button h4 {
  display: flex;
  align-self: flex-start;
  margin: 0;
}
.dish-button__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dish-button__description p {
  margin: 0;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dish-button__description span {
  box-sizing: border-box;
  margin-right: 15px;
  transition: 300ms ease-in-out;
}
.dish-button__confirmation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -60px;
  top: 0;
  background: #99E2D0;
  border-radius: 0 15px 15px 0;
  width: 60px;
  height: 70px;
  transition: 300ms ease-in-out;
}
.dish-button__confirmation .fa-check-circle {
  background: #99E2D0;
  color: white;
  font-size: 30px;
  transition: transform 500ms ease-in-out;
}
.dish-button:hover .dish-button__confirmation {
  right: 0;
}
.dish-button:hover .fa-check-circle {
  transform: rotate(360deg);
}
.dish-button:hover span {
  margin-right: 60px;
}

.first {
  animation: apparitionplats 1s 0s ease-in backwards;
}

.second {
  animation: apparitionplats 1s 0.3s ease-in backwards;
}

.third {
  animation: apparitionplats 1s 0.6s ease-in backwards;
}

@keyframes apparitionplats {
  from {
    transform: translateY(10px);
    opacity: 0%;
  }
  to {
    opacity: 100%;
    transform: translateY(0);
  }
}
.loader {
  width: 100%;
  height: 100%;
  z-index: 9999;
  position: fixed;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: -webkit-linear-gradient(white, #99E2D0, #FF79DA, #9356DC);
  animation: load 3s both;
}
.loader__logo__title {
  font-size: 40px;
}
@media (min-width: 700px) {
  .loader__logo__title {
    font-size: 100px;
  }
}
.loader__spin__icon {
  font-size: 40px;
  animation: rotate 1s ease-in-out both infinite;
}
@media (min-width: 700px) {
  .loader__spin__icon {
    font-size: 100px;
  }
}

.header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 0 10px 0;
  max-width: 1440px;
  margin: auto;
}
.header__nav__logo {
  height: 30px;
  width: 160px;
  margin: auto;
}
.header__nav__icon {
  color: #353535;
  margin-left: 25px;
  margin-right: -35px;
}

.presentation1 {
  height: 260px;
  width: 100%;
  background-image: url(../../pictures/restaurant/alafrancaise.jpg);
  background-size: cover;
}

.presentation2 {
  height: 260px;
  width: 100%;
  background-image: url(../../pictures/restaurant/lanoteenchantee.jpg);
  background-size: cover;
}

.presentation3 {
  height: 260px;
  width: 100%;
  background-image: url(../../pictures/restaurant/lapalettedugout.jpg);
  background-size: cover;
}

.presentation4 {
  height: 260px;
  width: 100%;
  background-image: url(../../pictures/restaurant/ledelicedessens.jpg);
  background-size: cover;
}

/* header */
.header-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.header-index__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: white;
}
.header-index__logo img {
  height: 30px;
  width: 170px;
}
.header-index__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  color: #4b4b4b;
  background-color: #eaeaea;
  box-shadow: 0px 5px 10px 0px rgba(207, 207, 207, 0.98) inset;
}
.header-index__icon i {
  margin-right: 20px;
}
.header-index__nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 270px;
  width: 100%;
  background-color: #f6f6f6;
}
.header-index__nav h3 {
  width: 100%;
  padding: 0 75px 0 75px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.header-index__nav p {
  width: 100%;
  margin: 25px 0 35px 0;
  padding: 0 20px 0 20px;
  font-size: 15px;
  text-align: center;
}
.header-index__nav button {
  width: 185px;
  height: 50px;
  box-shadow: 5px 5px 5px 1px lightgray;
  border-radius: 40px;
  color: white;
  font-size: 13px;
  background: linear-gradient(-45deg, #9356DC, #FF79DA);
  border: none;
  cursor: pointer;
}
.header-index__nav button:hover {
  filter: brightness(110%);
  box-shadow: 5px 5px 5px 1px lightgray #bababa;
}

/* fonctionnement */
.operation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 440px;
  max-width: 375px;
  margin: auto;
}
@media (min-width: 1050px) {
  .operation {
    height: 160px;
    max-width: 1400px;
  }
}
.operation h3 {
  padding: 0 0 30px 20px;
  align-self: flex-start;
  font-weight: bold;
  font-size: 20px;
}
@media (min-width: 1050px) {
  .operation h3 {
    width: 100%;
    padding: 30px 20px 10px 20px;
  }
}
.operation__list {
  height: 270px;
  width: 100%;
  padding: 0 20px 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.operation__list .operation-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 75px;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 25px;
  box-shadow: 5px 5px 5px 1px lightgray;
}
@media (min-width: 1050px) {
  .operation__list .operation-button {
    width: 320px;
  }
}
.operation__list .operation-button p {
  background-color: #9356DC;
  color: white;
  border-radius: 100%;
  font-size: 15px;
  height: 25px;
  width: 25px;
  margin-left: -12.5px;
  padding: 4px 0 0 8px;
}
.operation__list .operation-button i {
  color: #7e7e7e;
  margin-left: 20px;
  font-size: 20px;
}
.operation__list .operation-button h4 {
  margin-left: 30px;
  font-size: 15px;
}
.operation__list .operation-button:hover {
  background-color: #f5edff;
}
.operation__list .operation-button:hover > i {
  color: #9356DC;
}
@media (min-width: 1050px) {
  .operation__list {
    flex-direction: row;
    max-width: 1400px;
    width: 100%;
    padding: 0 20px 30px 20px;
  }
}

/* restaurant */
.restaurant--background {
  background-color: #f6f6f6;
  height: 1220px;
}
@media (min-width: 760px) {
  .restaurant--background {
    height: 740px;
  }
}
@media (min-width: 1440px) {
  .restaurant--background {
    height: 450px;
  }
}

.restaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 375px;
  height: 100%;
  padding: 0 20px 0 20px;
  margin: auto;
  padding-bottom: 70px;
}
@media (min-width: 760px) {
  .restaurant {
    max-width: 750px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 1440px) {
  .restaurant {
    max-width: 1440px;
  }
}
.restaurant h3 {
  margin: 60px 0 0 20px;
  align-self: flex-start;
  font-weight: bold;
  font-size: 20px;
}
@media (min-width: 760px) {
  .restaurant h3 {
    width: 100%;
    margin-left: 0;
  }
}
.restaurant .card {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 100%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px lightgray;
}
@media (min-width: 760px) {
  .restaurant .card {
    width: 340px;
  }
}
.restaurant .card__picture {
  height: 175px;
}
.restaurant .card__picture img {
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  height: 100%;
  width: 100%;
}
.restaurant .card__picture p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 80px;
  background-color: #99E2D0;
  color: #1b6150;
  font-size: 15px;
  border-radius: 5px;
  position: relative;
  top: -165px;
  left: 245px;
}
.restaurant .card__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  width: 85%;
  margin-left: 15PX;
}
.restaurant .card__title__description {
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.restaurant .card__title i {
  background-color: white;
  border-radius: 50%;
  padding: 0.2rem;
}
.restaurant .card__title i:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
.restaurant .card__title i:hover::before {
  content: "";
  font-weight: bold;
  transition: color 200ms ease-out;
}

.background--menu {
  background: #f6f6f6;
  border-radius: 40px 40px 0 0;
}

.menu {
  max-width: 375px;
  margin: auto;
  margin-top: -50px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1125px) {
  .menu {
    max-width: 1440px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.menu__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 35px 40px 20px;
}
.menu__title i {
  background-color: white;
  border-radius: 50%;
  padding: 0.2rem;
  background-color: #f6f6f6;
}
.menu__title i:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
.menu__title i:hover::before {
  content: "";
  font-weight: bold;
  transition: color 200ms ease-out;
}
@media (min-width: 1125px) {
  .menu__title {
    width: 100%;
  }
}
.menu__dish {
  height: 290px;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1125px) {
  .menu__dish {
    width: 375px;
    max-width: 1440px;
    align-items: flex-start;
  }
}
.menu__dish__title {
  align-self: flex-start;
  padding: 0 0 5px 7px;
  width: 100%;
}
.menu__dish__title h3 {
  width: 40px;
  border-bottom: solid #99E2D0 3px;
  padding-bottom: 5px;
}
.menu__order {
  display: flex;
  justify-content: center;
}
@media (min-width: 1125px) {
  .menu__order {
    width: 100%;
  }
}
.menu__order button {
  margin: 50px 0 80px 0;
  width: 185px;
  height: 50px;
  box-shadow: 5px 5px 5px 1px lightgray;
  border-radius: 40px;
  color: white;
  font-size: 13px;
  background: linear-gradient(-45deg, #9356DC, #FF79DA);
  border: none;
  cursor: pointer;
}
.menu__order button:hover {
  filter: brightness(110%);
  box-shadow: 5px 5px 5px 1px lightgray #bababa;
}

.four--dish {
  height: 368px;
}

.footer--background {
  background: #353535;
  height: 200px;
}

.footer {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 25px 0 0 25px;
  max-width: 375px;
  margin: auto;
}
@media (min-width: 1125px) {
  .footer {
    align-items: center;
  }
}
.footer h1 {
  font-size: 1.1rem;
  margin-bottom: 25px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}
@media (min-width: 1125px) {
  .footer__list {
    align-items: center;
  }
}
.footer__list i {
  width: 15px;
  margin-right: 10px;
}
.footer__list a {
  color: white;
}

/*# sourceMappingURL=style.css.map */
