.header{
    &__nav{ 
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 20px 0 10px 0;
        max-width: 1440px;
        margin: auto;
        &__logo{
           height: 30px;
           width: 160px;
           margin: auto;
        }  
        &__icon{
            color: #353535;
            margin-left: 25px;
            margin-right: -35px;
        }
    }
    &__presentation{
        height: 260px;
        width: 100%;
        img{
        height: 260px;
        width: 100%;
        object-fit: cover;
        position: relative;
        z-index: -1;
        }    
        }
}