.header__main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    &__logo{
        height: 30px;
        width: 170px;
        margin-bottom: 15px;
        background-color: white;
    }
    &__div{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 100%;
        color: #4b4b4b;
        background-color: #eaeaea;
        &__icon{
            margin-right: 20px;
        }
    }
    &__nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 270px;
        width: 100%;
        background-color: #f6f6f6;
        &__title{
            width: 230px;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
        }
        &__description{
            margin: 25px 0 35px 0;
            width: 310px;
            font-size: 15px;
            text-align: center;
        }
        &__search{
            width: 185px;
            height: 50px;
            border-radius: 40px;
            color: white;
            font-size: 13px;
            background: linear-gradient($colour-secondary,$colour-primary);
            border: none;
            box-shadow: 5px 5px 10px 1px lightgray;
            cursor: pointer;
            &:hover{
                background: lighten($color: $colour-primary, $amount: 10%);
                box-shadow: 5px 5px 10px 1px darken($color: lightgray, $amount: 30%);
            }
        }    
    }
}
    