.header{
    &__nav{ 
        @include flex-start-center;
        flex-direction: row;
        padding: 20px 0 10px 0;
        max-width: 1440px;
        margin: auto;
        &__logo{
           margin: auto;
        }  
        &__icon{
            color: #353535;
            margin-left: 25px;
            margin-right: -35px;
        }
    }
    &__presentation{
        height: 260px;
        width: 100%;
        img {
        height: 260px;
        width: 100%;
        object-fit: cover;
        position: relative;
        z-index: -1;
        }    
        }
}