/* header */
.header-index{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    &__logo{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: 100%;
        background-color: white;
        img{
            height: 30px;
            width: 170px;
        }
    }
    &__icon{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 100%;
        color: #4b4b4b;
        background-color: #eaeaea;
        box-shadow: 0px 5px 10px 0px rgba(207,207,207,0.98)inset;
        i{
            margin-right: 20px;
        }
    }
    &__nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 270px;
        width: 100%;
        background-color: #f6f6f6;
        h3{
            width: 100%;
            padding: 0 75px 0 75px;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
        }
        p{
            width: 100%;
            margin: 25px 0 35px 0;
            padding: 0 20px 0 20px;
            font-size: 15px;
            text-align: center;
        }
        button{
            width: 185px;
            height: 50px;
            @include gradient-button;
        }    
    }
}
/* fonctionnement */
.operation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 440px;
    max-width: 375px;
    margin: auto;
    @media(min-width:1050px){
        height: 160px;
        max-width: 1400px;
}
    h3{
        padding: 0 0 30px 20px;
        align-self: flex-start;
        font-weight: bold;
        font-size: 20px;
        @media(min-width:1050px){
            width: 100%;
            padding: 30px 20px 10px 20px;
    }
    }
    &__list{
        height: 270px;
        width: 100%;
        padding: 0 20px 0 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        @include operation-button;
        @media(min-width:1050px){
            flex-direction: row;
            max-width: 1400px;
            width: 100%;
            padding: 0 20px 30px 20px;
    }
    }
}
/* restaurant */
.restaurant--background{
    background-color: #f6f6f6;
    height: 1220px;
    @media(min-width:760px){
        height: 740px;
}
    @media(min-width:1440px){
        height: 450px;
}
}
.restaurant{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 375px;
    height: 100%;
    padding: 0 20px 0 20px;
    margin: auto;
    padding-bottom: 70px;
    @media(min-width:760px){
            max-width: 750px;
            flex-direction: row;
            flex-wrap: wrap;
    }
    @media(min-width:1440px){
        max-width: 1440px;
    }
    h3{
        margin: 60px 0 0 20px;
        align-self: flex-start;
        font-weight: bold;
        font-size: 20px;
        @media(min-width:760px){
            width: 100%;
            margin-left: 0;
    }
    }
    @include card-button;
}


    