.background--menu{
    background:#f6f6f6;
    border-radius: 40px 40px 0 0;
}
.menu{
    max-width: 375px;
    margin: auto;
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    @media(min-width:1125px){
        max-width: 1440px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around; 
    }
    &__title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 35px 40px 20px;
        i{
            @include heart;
            background-color: #f6f6f6;
        }     
        @media(min-width:1125px){
            width: 100%;
        }      
    }
    &__dish{
        height: 290px;
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        @media(min-width:1125px){
            width: 375px;
            max-width: 1440px;
            align-items: flex-start;
        }
        &__title{
            align-self: flex-start;
            padding: 0 0 5px 7px;
            width: 100%;
            h3{
                width: 40px;
                border-bottom: solid $colour-tertairy 3px;
                padding-bottom: 5px;
            }
            }
    }
    &__order{
        display: flex;
        justify-content: center;
        @media(min-width:1125px){
            width: 100%;
        }
        button{
            margin: 50px 0 80px 0;
            width: 185px;
            height: 50px;
            @include gradient-button;
        }
    }
}
.four--dish{
    height: 368px;
}
