@mixin gradient-button {
    box-shadow: $shadow-button;
    border-radius: 40px;
    color: white;
    font-size: 13px;
    background: $background-gradient;
    border: none;
    cursor: pointer;
    &:hover{
        filter: brightness(110%);
        box-shadow: $shadow-button10;
    }
}