@mixin heart{
    background-color: white;
    border-radius: 50%;
    padding: 0.2rem;
    &:hover{
        color: $colour-primary;
        cursor: pointer;
        &::before{
            content: "\f004";
            font-weight: bold;
            transition: color 200ms ease-out;  
        }
    }   
}
