.heart{
    &__black{
        background-color: white;
        border-radius: 50%;
        padding: 0.2rem;
        &:hover{
            color: #F80303;
            cursor: pointer;
            &::before{
                content: "\f004";
                font-weight: bold;
                transition: color 200ms ease-out;  
            }
        }
    }
    
}
