.loader{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: -webkit-linear-gradient(white,$colour-tertairy,$colour-secondary,$colour-primary);
    animation: load 3s ease-in-out both;
    position: absolute;
    height: 100%;
    &__logo{
        &__title{
            font-size: 100px;
        }
    }
    &__spin{
        &__icon{
        font-size: 100px;
        transform: rotate(360deg);
        animation: rotate 1s ease-in-out both infinite;
        }
    }
}
@keyframes load {
    0%{
        transform: translateX(0);
    }
    99%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-9999px);        
    }
}
@keyframes rotate {
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
@keyframes swipe {
    0%{
        transform: translateX(-9999px);
        height: 0;
    }
    99%{
        transform: translateX(-9999px);
        height: 0;
    }
    100%{
        transform: translateX(0);
        
    }
}