.first{
    
    animation: apparitionplats  1s 0s ease-in backwards;
}
.second{
    
    animation: apparitionplats  1s 0.3s ease-in backwards;
}
.third{
    
    animation: apparitionplats  1s 0.6s ease-in backwards;
}
@keyframes apparitionplats {
    from {
        transform: translateY(10px);
        opacity: 0%;
    }
    to{
        opacity: 100%;
        transform: translateY(0);
    }
}