.entrer{
    animation: apparitionplats  1s ease-in;
}
.middle{
    animation: apparitionplats  1.5s ease-in;
}
.end{
    animation: apparitionplats  2s ease-in;
}
@keyframes apparitionplats {
    from {
        transform: translateY(10px);
        opacity: 0%;
    }
    to{
        opacity: 100%;
        transform: translateY(0);
    }
}