@mixin operation-button {
.operation-button{
    @include flex-start-center;
    height: 75px;
    width: 100%;
    background-color: #f6f6f6;
    border-radius: 25px;
    box-shadow: $shadow-button;
    transition: background-color 300ms ease-in-out;
    @media(min-width:1050px){
        width: 320px;
    }
    p{
        background-color: $colour-primary;
        color: white;
        border-radius: 100%;
        font-size: 15px;
        height: 25px;
        width: 25px;
        margin-left: -12.5px;
        padding: 4px 0 0 8px;
    }
    i{
        color: #7e7e7e;
        margin-left: 20px;
        font-size: 20px;
        transition: color 300ms ease-in-out;
    }
    h4{
        margin-left: 30px;
        font-size: 15px;
    }
    &:hover{
        background-color: #f5edff;
    }
    &:hover > i{
        color: $colour-primary;
    }
}
}