.plats{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 40px 0;
    &__button {
        background: white;
        width: 350px;
        height: 70px;
        border-radius: 15px;
        border: solid white 1px;
        box-shadow: 5px 5px 10px 1px lightgray;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        margin: 7.5px 0 7.5px 0;
            &__description {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 97%;
    }
    }
}