.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 350px;
    height: 70px;
    border-radius: 15px;
    border: none;
    box-shadow: 5px 5px 10px 1px lightgray;
    padding: 0;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &__description{
        width: 350px;
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &__plat{
            margin: 0 0 0 10px;
        }
        &__accompaniment{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            margin: 0 0 0 10px;
        }
    }
    &__confirmation{
        display: flex;
        justify-content: center;
        align-items: center;
        background: $colour-tertairy;
        border-radius: 0 15px 15px 0;
        width: 90px;
        height: 70px;
        margin-right: -90px;
        transition: 300ms ease-in-out;
        & .fa-check-circle{
            background: $colour-tertairy;
            color: white;
            font-size: 30px;
            transition: transform 500ms ease-in-out;
        }
    }
    &:hover &__confirmation{
        margin-right: 0;  
        }
    &:hover .fa-check-circle{
        transform: rotate(360deg);
    }
}



     
