.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 350px;
    height: 70px;
    border-radius: 15px;
    border: none;
    box-shadow: 5px 5px 10px 1px lightgray;
    padding: 0;
    cursor: pointer;
    overflow: hidden;
    &__description{
        width: 350px;
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        &__plat{
            margin: 0 0 0 10px;
        }
        &__accompaniment{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            
            margin: 0 0 0 10px;
        }
    }
    &__confirmation{
        display: flex;
        justify-content: center;
        align-items: center;
        background: $colour-tertairy;
        border-radius: 0 15px 15px 0;
        width: 60px;
        height: 70px;
        margin-right: -60px;
        transition: 300ms ease-in-out;
        &__icon{
            background: $colour-tertairy;
            color: white;
            font-size: 30px;
            transform: rotate(-180deg);
            animation: cloche 200ms ease-in-out;
            }
    }
    &:hover > &__confirmation{
        margin-right: 0;      
    }
}

     
