/* loader */
@keyframes load {
    0%{
        opacity: 1;
        
    }
    99%{
        opacity: 1;
        
    }
    100%{
        opacity: 0;
                
    }
}
@keyframes rotate {
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}